  <h3 class = 'font-italic ' ><%= @question.body %></h3><br>
  <h4><%= t('.header') %></h4>
  <table class = 'table'>
  	<thead>
      <tr>
        <th class = "pointer" scope = 'col'>
          <%= 'Answer Body' %>
        </th>
        <th scope = 'col'><%= t('.edit')%></th>
        <th scope = 'col'><%= t('.delete')%></th>
      </tr>
    </thead>
    <tbody>
      <%= render @question.answers %>
    </tbody>
  </table>
  <%= link_to t('.new'),  new_admin_question_answer_path(question_id: @question.id), class: 'btn btn-primary' %>
  <%= link_to t('.back'), admin_test_questions_path(@question.test), class: 'btn btn-warning' %>
