	<h1><%= @question.body %></h1><br>
	<h2><%= t('.header') %></h2>
	<ol>
		<%= render @question.answers %>
	</ol>
	<%= link_to t('.new'),  new_admin_question_answer_path(question_id: @question.id) %>
	<%= link_to t('.back'), admin_test_questions_path(@question.test) %>
