	<%= form_with url: feedbacks_path, local: true do |form| %>
		<div class ="form-group">
			<%= form.label t('.subject') %></br>
			<%= form.text_field :subject, class: "form-control" %></br>

			<%= form.label t('.body') %></br>
			<%= form.text_area :body, class: "form-control"%></br>

			<%= form.submit %>
	</div>
<% end %>