	<h1><%= t('.header') %></h1>
	<table>
		<tr>
			<th><%= t('.title') %></th>
			<th><%= t('.level') %></th>
			<th><%= t('.questions_num') %></th>
			<th><%= t('.start') %></th>
			<th colspan="2"><%= t('.action')%></th>
		</tr>
		<%= render @tests %>
	</table>

	<%= link_to t('.new'), new_admin_test_path %>
